@import 'tailwindcss';

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --color-background: #efefef;
  --color-background-secondary: #f5f5f5;
}

@layer base {
  body {
    font-family: var(--font-inter);
    background-color: var(--color-background);
    scroll-behavior: smooth;
  }

  #__next {
    min-height: 100vh;
  }
}

@layer components {
  .top-blur {
    mask-image: linear-gradient(#000 25%, #0000);
  }

  .dot-leaders {
    background-image: repeating-linear-gradient(to right,
        #9ca3af 0px,
        #9ca3af 2px,
        transparent 1px,
        transparent 8px);
    background-size: 4px 2px;
    background-repeat: repeat-x;
    background-position: center;
  }

  .grid-col-full {
    grid-column: 1 / -1;
  }

  .container-wrapper {
    margin: 0px auto;
    max-width: 60rem;
    padding-inline: 1.5rem;
    width: 100%;
  }

  .box-shadow {
    --box-line-color: #000;
    --box-line-size: 8px;
    --box-border-radius: 0.5rem;
    --box-offset: 1rem;

    background-image: linear-gradient(45deg,
        transparent 33.33%,
        var(--box-line-color) 33.33%,
        var(--box-line-color) 50%,
        transparent 50%,
        transparent 83.33%,
        var(--box-line-color) 83.33%,
        var(--box-line-color) 100%);
    background-size: var(--box-line-size) var(--box-line-size);
    border-radius: var(--box-border-radius);
    content: '';
    display: block;
    height: 100%;
    left: var(--box-offset);
    position: absolute;
    top: var(--box-offset);
    width: 100%;
    z-index: -2;
  }

  .focus-ring {
    @apply outline-none ring-2 ring-gray-500 ring-offset-2;
  }
}