.bio {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &_pic {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & img {
            width: 15rem;
            height: 15rem;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            box-shadow: 0 0 15px 5px #ddd;
        }
    }

    &_desc {
        background-color: aliceblue;
        padding: 1.5rem;
        border-radius: 8px;

        &__header {
            font-weight: 600;
            letter-spacing: .5px;   
        }

        &__content {
            font-weight: 300;
            margin-block-end: 2rem;
            line-height: 1.5;
        }

        &__job {
            font-weight: 500;
            letter-spacing: .2px;
            background-color: #441672;
            padding: 8px;
            color: #fff;
            border-radius: 6px;
        }
    }
}