@import './reset';

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#__next {
    min-block-size: 100vh;
}

.page {
    min-block-size: 100vh;
}